.detail__container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100vh;
      top: 0;
      position: fixed;
      z-index:15;
}
.detail{
      background-color: rgb(0, 0, 0);
      color: white;
      margin: 10px;
      height: 80vh;
      width: 95vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 0.8rem;
}
.detail>div{
      height: 100%;
}
.info{
      width: 40%;
}
.info> h1{
  color: red;
   font-size: 2rem;
   padding: 0.85rem 2rem;
   font-style: oblique;
}
.info>p{
padding: 0.85rem 2rem;
margin-top: 15px;
line-height: 1.3;
font-size: 1.2rem;
}
.movie__poster{
      width: 60%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}
.close{
      position: absolute;
      padding-left: 10px;
      top: 10px;
      right: 10px;
      font-size: 2rem;
      cursor: pointer;
      color: red;
}

@media (max-width:850px){
      .detail{
            display: grid;
          place-items: center;
          height: auto;
      }
      .detail>div{
            width: 100%;
      }
      .movie__poster{
            display: none;
      }
}